<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">バスケットマニア</h1>
      <p class="lead text-muted">バスケができる場所を検索するWebサービス(東京23区版)</p>
      <div id="like_button_container"></div>
    </div>
  </section>
  <%= react_component("search_form") %>
  
  <%= render partial: "home/cards", locals: {courts: @courts} %>
</main>
