.fa-fovorite-icon {
  color: #FFF100;
}

.card-court {
  margin-bottom: 10px;
}

.card-title {
  font-size: x-large;
  font-weight: bold; 
}

.card-description {
  font-size: small;
  padding-right: 15px;
}

.card-address {
  font-size: small;
  padding-right: 15px;
}

.card-non-residents {
  font-size: small;
}

.card-left {
  display: block;
  float: left ;
}


.card-counter {
  display: block;
  float: right;
  text-align: right; 
}

.table-week {
  width: 500px;
}

.table-week,th,td {
  font-size: small;
  text-align: center;
}