.address {
  font-size: 12px;
}

.court-card {
  margin-bottom: 10px;
}

.card-header {
  padding: unset;
  background-color: white;
  border-bottom: 0px;
  height: 40px;
}

#login-logout-alert {
  text-align: center;
}
