.logout {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 395px;
  text-align: center;
}

.logout-title {
  font-size: xx-large;
  padding-bottom: 20px;
}

